# dependencies
node_modules/

# Bun (not used anymore)
bun.lockb
bun.lock
bunfig.toml

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Deployment
.vercel
.netlify
